<nav id="nav">
   <div style="display: none;">
      {{ toctree(collapse=False, maxdepth=-1) }}
   </div>

   <div class="nav-links" id="staticNav">
   </div>

   <button class="nav-btn" onclick="openNav()"><i class="fa fa-bars"></i></button>

   <div id="sideNav" class="sidenav">
      <a class="closebtn" href="#" onclick="closeNav()"><i class="fas fa-times"></i></a>
      <div class="sideNavHeader">
         {% include "../_static/img/freefem_symbol.svg" %}
         <h1>FreeFem++</h1>
      </div>
      <div id="dynamicSideNav">
      </div>
   </div>

   {% include "search.html" %}
</nav>

<script async src="{{ pathto('_static/js/nav.js', 1)}}"></script>
