/** GLOBAL **/
a {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

div[id]:target::before {
	margin-top: -3.5rem;
  padding-top: 3.5rem;
}

div[id]::before {
	 display: block;
	 margin-top: -.9rem;
	 padding-top: .9rem;
	 content: "";
}

strong {
	font-weight: bold;
}

ul {
	margin: 0;
	padding: 0;
	padding-left: .55rem;
}

li {
	margin: 0;
	padding: 0;
	line-height: 1.6em;
}

b {
	font-weight: bold;
}

button:focus {
	outline: none;
}

i {
	font-size: 1.11rem;
	color: lightgrey;
}

i:hover {
	color: white;
}

p {
	font-family: "Roboto-slab", serif;
	line-height: 1.2rem;
}

.fake-title {
	font-size: 1.2rem;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
}

/** CODE TABLES **/
.linenos {
	background-color: rgba(0,0,0,.07);
	color: rgba(0,0,0,.26);
	border-radius: .27rem 0 0 .27rem;
	padding: 0 .55rem !important;
}

.linenos pre {
	padding: 0 .27rem;
	margin: 0;
}

table.highlighttable {
	display: block;
	background-color: #eeeeee !important;
	border-radius: .27rem;
	margin: 1.11rem 0;
	overflow: hidden;
	position: relative;
}

table.highlighttable tbody {
	display: block;
}

table.highlighttable tr {
	display: flex;
}

table.highlighttable .code {
	flex: 1;
	overflow: hidden;
	padding: 0 .55rem;
}

table.highlighttable pre {
	display: block;
	margin: 0;
	overflow: auto;
	line-height: 1.2rem;
	font-size: 0.8rem;
	padding: .55rem 0;
}

.highlight {
	background-color: #eeeeee !important;
	margin: 0;
}

.copy-button {
	position: absolute;
	top: .27rem;
	right: 0;
	border: none;
	background: none;
}

.copy-button i {
	color: rgba(0.75, 0.75, 0.75, 0.1);
}

.copy-button:hover i {
	color: rgba(0.75, 0.75, 0.75, 1);
}

/** CODE LINES **/
code, .code {
	font-size: .9rem;
}

/** IMAGES **/
img.align-center {
	display: block;
	margin: auto;
}

div.inline {
   display: inline-flex;
}

.figure {
	margin: auto;
	margin-top: .55rem;
	max-width: 90%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	border-radius: .27rem;
	box-shadow: 0 .11rem .11rem 0 rgba(0,0,0,.14), 0 .05rem .27rem 0 rgba(0,0,0,.12), 0 .16rem .05rem -.11rem rgba(0,0,0,.2);
	margin-bottom: 1.11rem;
}

.figure img {
	order: 2;
	align-self: center;
	max-width: 90%;
}

.figure .caption {
	order: 1;
	background-color: grey;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	border-radius: .27rem .27rem 0 0;
}

.figure .caption .code {
	color: black;
	font-weight: normal;
}

.caption .caption-text {
	background-color: transparent !important;
	text-align: center;
}

.caption-text {
	padding: 1em;
}

/** TABLEAUX **/
table:not(.highlighttable) {
	min-width: 100%;
	box-shadow: 0 .11rem .11rem 0 rgba(0,0,0,.14), 0 .05rem .27rem 0 rgba(0,0,0,.12), 0 .16rem .05rem -.11rem rgba(0,0,0,.2);
	border: none;
	border-collapse: collapse;
	overflow: auto;
	font-family: "Roboto-slab", serif;
	border-radius: .27rem;
}

table:not(.highlighttable) caption {
	background-color: rgba(0,0,0,.54);
	padding: .55rem 0;
	color: white;
	font-weight: bold;
	border-radius: .27rem .27rem 0 0;
}

table:not(.highlighttable) caption code, .code, .docutils code {
	color: black;
	font-weight: normal;
}

.caption-number {
	text-align: center;
	padding-left: .27rem;
}

table a {
	color: #3f51b5;
}

table a:visited {
	color: #3f51b5;
}

table.docutils {
	margin: 1.11rem 0;
	border-radius: .27rem;
}

th {
	background-color: rgba(0,0,0,.54);
	color: #fff;
	border: none;
	padding: .55rem;
}

td:not(.code) {
	padding: .55rem;
}

td:not(.linenos) {
	padding: .55rem;
}

.math {
	overflow-x: auto;
}

span {
	margin: 0;
}


/** ADMONITIONS **/
.admonition {
	position: relative;
	box-shadow: 0 .11rem .11rem 0 rgba(0,0,0,.14), 0 .05rem .27rem 0 rgba(0,0,0,.12), 0 .16rem .05rem -.11rem rgba(0,0,0,.2);
	margin: 1.5625em 0;
	padding: 0 1.2rem;
	border-left: .4rem solid #448aff;
	border-radius: .2rem;
	overflow: hidden;
	overflow-wrap: break-word;
}

.admonition-title {
	margin: 0 -1.2rem;
	padding: .8rem 1.2rem .8rem 4rem;
	border-bottom: .1rem solid rgba(68,138,255,.1);
	background-color: rgba(68,138,255,.1);
	font-weight: 700;
}

.admonition-title::before {
	position: absolute;
	font-family: "Font Awesome 5 Free";
	left: 1.2rem;
	color: #448aff;
	font-size: 1.2rem;
	content: "\f304";
}

.admonition.warning {
	border-left-color: #ff9100;
}

.admonition.warning .admonition-title {
	background-color: rgba(255,145,0,.1);
}

.admonition.warning .admonition-title::before {
	content: '\f071';
	color: #ff9100;
}

.admonition.tip {
	border-left-color: #651fff;
}

.admonition.tip .admonition-title {
	background-color: rgba(101,31,255,.1);
}

.admonition.tip .admonition-title::before {
	content: '\f0c3';
	color: #651fff;
}

/** SCROLLBAR DESIGN **/
body::-webkit-scrollbar {
	width: .55rem;
}

::-webkit-scrollbar {
  width: .27rem;
  height: .27rem;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #0000FF;
}

.md-typeset pre {
	webkit-overflow-scrolling: touch;
}

.md-typeset .codehilite, .md-typeset .highlight {
	webkit-overflow-scrolling: touch;
}
