#subnav {
	grid-row: 3;
	grid-column: 1;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: .55rem;
	background-color: #f8f8f8;
	/*box-shadow: inset .05rem 0 .55rem 0 #888;*/
	box-shadow: inset -0.77rem 0.77rem 0.38rem -0.66rem #888;
	font-size: 0.9rem;
}

#subnav ul {
	list-style: none;
}

#subnav li.toctree-l1{
	display: none;
	font-weight: bold;
}

#subnav li.current {
	display: list-item;
}

#subnav li.toctree-l2 {
	font-weight: normal;
	padding: .27rem 0;
}

#subnav li.anchor {
	display: none;
}

#subnav a.current {
	color: #00007F;
}

#subnav > div {
	position: sticky;
	top: 3.88rem;
	max-height: 90vh;
	padding: .55rem;
	overflow: auto;
}
