#subnav {
	grid-row: 3;
	grid-column: 1;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: .55rem;
	background-color: #f8f8f8;
	font-size: 0.9rem;
}

#subnav ul {
	list-style: none;
}

#subnav li {
	line-height: 1.875em;
}

#subnav li.toctree-l1{
	display: none;
	font-weight: bold;
}

#subnav li.current {
	display: list-item;
}

#subnav li.toctree-l2 {
	font-weight: normal;
}

#subnav li.anchor {
	display: none;
}

#subnav a.current {
	color: #00007F;
}

#subnav a:hover {
  color: #0000FF;
}

#subnav > div {
	position: sticky;
	top: 3.88rem;
	max-height: 90vh;
	padding: .55rem;
	overflow: auto;
	width: 100%;
}
