#toc {
	grid-row: 3;
	grid-column: 3;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: .55rem;
	background-color: #EFEFEF;
	font-size: .9rem;
}

#toc > div {
	position: sticky;
	top: 3.88rem;
	padding: .55rem;
	max-height: 90vh;
	overflow: auto;
	width: 100%;
}

#toc ul {
	list-style: none;
	margin: 0;
	padding: .55rem;
}

#toc li {
	line-height: 1.875em;
}

#toc a:hover {
  color: #0000FF;
}

#toc li.blur > a {
	color: blue;
}
 /* #toc ul li ul li .blur a {
	 color:red;
 } */
