footer {
		grid-row: 4;
		grid-column: 1 / 4;
    display: flex;
    min-height: 3.75rem;
    font-size: 1.25rem;
		border-top: 2px solid #EFEFEF;
}

footer i {
    color: #FF699B;
}

footer img {
  height: 2.5rem;
  width: 2.5rem;
  align-self: center;
}

footer p, footer a, footer span {
    align-self: center;
    flex: 1 1 0;
    text-align: center;
    margin: 1.125rem 0;
		line-height: 1.5rem !important;
}

#lgpl {
    margin-right: 1rem;
}
